
body { 
    background-color: white;
    margin: 0;
    font-family: sans-serif;
}

.header-container {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0.5rem;
    height: 4.3rem;
    background-image: url('../img/pattern.png');
    background-size:contain;
    background-repeat: repeat;
    background-color: rgb(90, 181, 255); 

}

#header-logo {
    margin-left: 5rem;
    width: 9rem;
}

main {
    margin: auto;
    width: 97%;
    max-width: 50rem;
}


.main-title {
    margin-bottom: rem;
}

.sub-title {
    line-height: 0.2rem;
}

.reference {
    font-weight: bold;
    color: rgba(19, 99, 226, 0.793);
}

time { 
    font-family: sans-serif;
    
}



.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.image-container img {
    min-width: 25rem;
    width: 50%;
}

.article {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul {
    padding-left: 1rem;
    
}


    
.info-table {
    border-collapse: collapse;
}

table th {
    font-size:0.8rem;
    background-color: rgb(50, 146, 255);
    text-align: left;
}
.line-blue { background-color: rgb(117, 230, 253);}
.line-white { background-color: white;}

.cell-spacing {
    padding-right: 6rem;
}

footer h3 {
    color: grey;
}
.footer-photo-container {
    display: flex;

}